form {
    font-family: Helvetica;
    color: #555;
}

.formRow {
    padding: 5px 0;
}

.repeatingSection {
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid #ddd
}

.addFight {
    padding: 20px;
}

form>.formRow {
    padding: 20px;
    background: #ddd;
    margin: 20px 0 0 0;
}